.row {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.col {
    background-color: antiquewhite;
    padding: 1rem;
    flex: 1;
    /* justify-content: center; */
    align-items: center;

}

.button {
    display: flex;
    justify-content: center;
}